<div class="row row-cols-1 row-cols-sm-2 inici">
    <div class="col my-3 p-3 bg-body rounded shadow-sm">
        <div class="container">
            <div class="x_panel row">
                <div class="col">
                    <div class="container score-week">
                        <div class="row score-days row-cols-7" (touchstart)="swipe($event, 'start')"
                            (touchend)="swipe($event, 'end')">
                            <div class="col" *ngFor="let item of setmana | keyvalue: keepOrder">
                                <div class="daily-score" (click)="onDailyScoreClick(item.key)">
                                    <h2 class="day">{{ item.key.charAt(0).toUpperCase() + item.key.slice(1) }} <em>{{ item.value.dia.slice(8,10) }}</em></h2>
                                    <h3 class="score"><img *ngIf="item.value.score > 0" style="width: 30px" src="assets/face-{{item.value.score}}.png"/><span *ngIf="item.value.score == 0">-</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_panel_buttons row text-center p-2">
                <div class="col-1 text-start">
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="anteriorSetmana()"
                        [disabled]="!teAnterior">&lt;</button>
                </div>
                <div class="col text-end">
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="seguentSetmana()"
                        [disabled]="!teSeguent">&gt;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="inici-superior col m-0 border-0 my-3 p-3 bg-body rounded shadow-sm" (click)="onNouDia()">
        <div class="position-relative">
            <div class="position-absolute top-0 h-100 start-50 translate-middle-x">
                <canvas baseChart class="chart" [data]="doughnutChartData" type="doughnut"
                    [options]="doughnutChartOptions">
                </canvas>
            </div>
            <div *ngIf="numDies < minDies " class="centre position-absolute top-50 start-50 translate-middle">
                <div class="puntuacio fs-1 text-center">
                    {{ numDies }} <span class="sobre fs-5">dies</span>
                </div>

                <div class="dies w-100 text-center fs-6">
                    Encara cal registrar   
                    <span *ngIf="numDies < minDies - 1 ">{{ 30 - numDies }} dies</span>
                    <span *ngIf="numDies == minDies - 1 ">un dia més</span>
                    per veure el diagnosis
                </div>
            </div>
            <div *ngIf="numDies >= minDies"  class="centre position-absolute top-50 start-50 translate-middle">
                <div class="puntuacio fs-1 text-center">
                    {{ puntuacio*100/50 | number: '1.1-1' }} <span class="sobre fs-5">%</span>
                </div>
                <div class="dies w-100 text-center fs-6">Després de {{ numDies }} dies registrats</div>
            </div>
        </div>
    </div>
    <div class="col p-3 bg-body rounded shadow-sm">
        <small>
            Aquesta aplicació calcularà el percentatge de posibilitats que tinguis insomni un cop s'hagin registrat 30 dies de dades
        </small>
    </div>
</div>