<ngb-alert *ngIf="diaDuplicat()" [dismissible]="true">
    Aquest dia ja disposa de dades. Si continues es sobreescriuran
</ngb-alert>
<formio [form]="formulari"
[language]="language"
[options]='{
    "i18n": {
        "ca": {
            "next":"Següent",
            "previous": "Anterior",
            "required": "Cal escollir una opció per continuar",
            "cancel":"Cancel·lar",
            "submit": "Registrar",
            "mask": "El valor entrat no té el format correcte"
        },
    },
}'
(submit)="onSubmit($event)"
(ready)="onReady($event)"></formio>
